* {  /* Global styles */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

h1, h3 {
    border: 3px solid #721121;
    padding: 3%;
}

.tipCalculator {
    border: 3px solid #721121;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5%;
}

.container {
    padding: 5% 0;
    margin: auto;
    text-align: center;
}

label, input {
    display: block;
    text-align: center;
}

label {
    margin-top: 5%;
}

#billTotal {
    font-size: 1.5em;
    font-weight: bold;
}

#tipPercentage {
    color: blue;
    font-size: 1.5em;
    font-weight: bold;
}

#tipAmount {
    color: #721121;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
}

#finalTotal {
    color: orangered;
    font-size: 1.5em;
    font-weight: bold;
}